discord.py
pycaw
numpy
requests
scipy
sounddevice
pywin32
mss
pynput
comtypes
opencv_python
opencv-python
PyAutoGUI
discord
pycryptodomex
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
