discord.py
pycaw
numpy
requests
scipy
sounddevice
pywin32
mss
pynput
comtypes
opencv_python
opencv-python
PyAutoGUI
discord
pycryptodomex
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
